<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="alien1" class="com.telusko.Alien" >
        <property name="age" value="25"></property>
        <property name="lap" ref="laptop" ></property>  //connecting the 2 classes by adding a reference attribute ref with the same name (laptop) as id of another class
    </bean>

    <bean id="laptop" class="com.telusko.Laptop" >
    </bean>



</beans>